// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/styles.scss";

// Initial Dark mode support
@media (prefers-color-scheme: dark) {
  
  body {
  color:white;
  background-color: #131518;
  
  .post-preview {
    >a {
        color: white;
    }
  }
  blockquote {
    color: #879099;
  }
  #mainNav {
    
    border-bottom: 1px solid $gray-200;
    background-color: white;

    .navbar-brand {
        color: $gray-800;
    }

    .navbar-toggler {
        color: $gray-800;
    }

    @media only screen and (min-width: 992px) {
        .navbar-brand {
            color: $white;

            &:hover {
                color: fade-out($white, .2);
            }
        }

        .navbar-nav {
            >li.nav-item {
                >a {
                    color: $white;

                    &:hover {
                        color: fade-out($white, .2);
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 992px) {

        &.is-fixed {
            /* when the user scrolls down, we hide the header right above the viewport */
            border-bottom: 1px solid darken($white, .05);
            background-color: fade-out($white, .1);

            .navbar-brand {
                color: $gray-900;

            }
 }
    }
  }
  .clap-count {
    .flat {
      fill: #131518;
    }
}
  }
}

// Welcomments CSS

@media (prefers-color-scheme: dark) {
   .welcomments__comments-title,
   .welcomments__author-name,
   .welcomments__comment-message a,
    .welcomments__comment-form label {
        color: white !important;
    }
    .welcomments__comment-time a time,
    .welcomments__comment-form p {
        color: #9ca3af !important;
    }
    .welcomments__comment-message {
        color: #d1d5db !important;
    }
    .welcomments__comment-reply-link,
    .welcomments__comment-form textarea,
    .welcomments__comment-form input {
        background-color: #20252d  !important;
    }
    .welcomments__submit-button {
        background-color: #2f4059 !important;
    }
    .welcomments__comment {
        border-color: #334052 !important;
    }
    .welcomments__comment-form textarea,
    .welcomments__comment-form input {
        border-color: #334052 !important;
    }
    .welcomments__optional-notice {
        color:  rgba(161,47,47,1);
    }
    
}
@media (prefers-color-scheme: light) {
    .welcomments__submit-button {
        background-color: $primary !important;
    }
    .welcomments__optional-notice {
        color:  rgba(161,47,47,1);
    }

}

// applause-button

applause-button {
    width: 60px;
    height: 60px;
    margin: 5% auto 0 auto;
  
    .count-container {
      color: inherit;
    }
}

.clap-count {
    @extend h2;
    color: $primary;
    display: none;
  
    svg {
      height: 1em;
      vertical-align: middle;
      width: 1em;
    }
    .outline {
      fill: $primary;
    }
  }
  

// Welcomments likes styling

#like-button-container {
  width: 6rem;
  height: 3rem;
}
#like-button-container .subtitle {
  color: #4b5563;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}
#welcomments__like-button {
  color: #111827;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}
@media screen and (min-width: 832px) {
  #like-button-container {
    position: fixed;
    right: calc(950px + ((100% - 948px) / 2));
    top: 50px;
    transform: translate(50%, 0%);
  }
}
